<h1>Listing items</h1>

<!-- 追加箇所開始 -->
<%= page_entries_info @items %>

<%= paginate @items %>
<!-- 追加箇所終了 -->

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Desc</th>
      <th>Image</th>
      <th>Pub date</th>
      <th>Tag</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><a href="<%= item.url %>">Link here!</a></td>
        <td><%= item.desc %></td>
        <td><img src="<%= item.image %>" width="300px" /></td>
        <td><%= item.pub_date %></td>
        <td><%= item.tag %></td>
        <td><%= item.created_at %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<!-- 追加箇所開始 -->
<%= paginate @items %>
<!-- 追加箇所終了 -->

